<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{add-fee}"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <section th:replace="fragments/notification :: section"></section>
        <nav th:replace="fragments/nav_bar :: nav"></nav>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="registrationForm">
                    <h3 th:text="|#{add-fee} #{in} ${homesGroup.getName()}|" class="pb-4 fw-bold"></h3>
                    <form th:action="@{|/profile/homesGroup${homesGroup.getId()}/add-fee|}"
                          th:method="POST">
                        <div th:text="#{name}"></div>
                        <input th:placeholder="#{fee_name_example}" type="text" name="name" id="name" minlength="2" max="30" class="field" required/>
                        <div th:text="|#{value} (#{BGN})|" class="mt-3"></div>
                        <input th:placeholder="#{value_example}"
                               type="number" name="value" id="value" min="0" max="99999999.99" step="0.01" class="field" required/>
                        <div th:text="#{homes}" class="h3 mt-3 fw-bold"></div>
                        <table class="table table-hover table-sm table-bordered border-primary fs-6">
                            <thead>
                            <tr class="bg-info fw-bold align-middle">
                                <td th:text="#{floor}"></td>
                                <td th:text="#{apartment}"></td>
                                <td th:text="#{owner}"></td>
                                <td>
                                    <button th:text="#{all}" type="button" class="button" onclick="checkAll()"></button>
                                </td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="h : ${homesGroup.getHomes()}" class="align-middle">
                                <td th:text="${h.getFloor()}"></td>
                                <td th:text="${h.getName()}"></td>
                                <td th:text="|${h.getOwner().getFirstName()} ${h.getOwner().getLastName()}|"></td>
                                <td>
                                    <input th:name="${h.getId()}"
                                           value="false" type="checkbox" class="inputCheckBox" onclick="changeValueAttribute(this)">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                        <button th:text="#{add}" type="submit" class="button m-3"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
<script src="/js/utils.js"></script>
</body>
</html>