<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{edit}"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <section th:replace="fragments/notification :: section"></section>
        <nav th:replace="/fragments/nav_bar :: nav"></nav>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="registrationForm">
                    <h3 th:text="|#{edit} ${homesGroup.getName()}|"></h3>
                    <form th:action="@{|/profile/homesGroup${homesGroup.getId()}/edit|}"
                          th:method="PUT"
                          th:object="${addHomesGroupDTO}">
                        <div th:text="#{name}" class="mt-3"></div>
                        <input th:value="${homesGroup.name}" type="text" name="name" id="name" minlength="2" maxlength="20" class="field" required/>

                        <div th:text="#{size}" class="mt-3"></div>
                        <input th:value="${homesGroup.size}" type="number" name="size" id="size" class="field" required/>

                        <div th:text="|#{choose} #{type}|" class="mt-3"></div>
                        <span th:field="*{name}"></span>
                        <select name="type" id="type" class="field">
                            <option th:each="t : ${allTypes}"
                                    th:text="${t}"
                                    th:value="${t}"
                                    th:selected="${t} == ${homesGroup.type}">
                            </option>
                        </select>

                        <button th:text="#{edit}" type="submit" class="button m-3"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>