<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title th:text="|#{edit} #{owner}|"></title>

</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <section th:replace="fragments/notification :: section"></section>
        <nav th:replace="fragments/nav_bar :: nav"></nav>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="d-grid justify-content-center align-items-center mt-4">
                    <h3 th:text="|#{edit} #{owner} #{of} #{apartment} ${home.getName()}|" class="text-center"></h3>
                    <div class="card m-auto">
                        <div class="card-body text-center m-3 bg-success border border-dark rounded">
                            <form th:action="@{|/profile/homesGroup${homesGroupId}/home${homeId}/edit-resident${owner.getId()}|}"
                                  th:method="PUT">
                                <input th:value="${owner.getFirstName() != ''} ? ${owner.getFirstName()} : ''"
                                       th:placeholder="${owner.getFirstName() == ''} ? #{first_name} : ''"
                                       type="text" id="firstName" name="firstName" class="field-fit-content px-1 mb-1">

                                <input th:value="${owner.getMiddleName() != ''} ? ${owner.getMiddleName()} : ''"
                                       th:placeholder="${owner.getMiddleName() == ''} ? #{middle_name} : ''"
                                       type="text" id="middleName" name="middleName" class="field-fit-content px-1 mb-1">

                                <input th:value="${owner.getLastName() != ''} ? ${owner.getLastName()} : ''"
                                       th:placeholder="${owner.getLastName() == ''} ? #{last_name} : ''"
                                       type="text" id="lastName" name="lastName" class="field-fit-content px-1 mb-1">

                                <input th:value="${owner.getEmail() != ''} ? ${owner.getEmail()} : ''"
                                       th:placeholder="${owner.getEmail() == ''} ? 'email' : ''"
                                       type="text" id="email" name="email" class="field-fit-content px-1 mb-1">

                                <input th:value="${owner.getPhoneNumber() != ''} ? ${owner.getPhoneNumber()} : ''"
                                       th:placeholder="${owner.getPhoneNumber() == ''} ? #{phone_number} : ''"
                                       type="text" id="phoneNumber" name="phoneNumber" class="field-fit-content px-1 mb-1">

                                <button th:text="#{change}" type="submit" class="btn btn-warning mt-5"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>