<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="${homesGroup.getName()}"></title>
</head>
<body>
<!-- The Modal Payment -->
<div class="modal faded" id="mar">
    <div class="modal-dialog">
        <div class="modal-content card-resident">
            <div class="modal-header">
                <h5 th:text="|#{fees} ${monthName} ${yearNumber}|" class="modal-title"></h5>
                <button id="close" type="button" class="add-button">
                    <span class="h3">&times;</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <p class="m-0"></p>
                <div class="card-body d-inline-flex justify-content-center w-100">
                    <div class="w-100">
                        <table class="table-fee m-auto">
                            <thead>
                            <tr>
                                <td th:text="#{name}" class="bg-info border-rounded"></td>
                                <td th:text="#{BGN}" class="bg-info border-rounded"></td>
                                <td th:text="#{number_single}" class="bg-info border-rounded"></td>
                                <td th:text="#{total}" class="bg-info border-rounded"></td>
                            </tr>
                            </thead>
                            <tbody>
                            <tr id="" class="align-middle">
                                <td class="border-rounded"></td>
                                <td class="border-rounded"></td>
                                <td class="border-rounded">
                                    <select onchange="calculateRowTotal(this)" class="bg-transparent text-center m-0 p-0 border-0 webkit-appearance-none">
                                        <option th:each="n : ${#numbers.sequence(0, 50)}"
                                                th:value="${n}"
                                                th:text="${n}">
                                        </option>
                                    </select>
                                </td>
                                <td class="border-rounded"></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="4" class="bg-info text-end border-rounded pe-2"></td>
                            </tr>
                            </tfoot>
                        </table>
                        <form th:action="@{|/cashier/homesGroup${homesGroup.getId()}/pay|}"
                              th:method="POST">
                            <input name="month" th:value="${monthNumber}" type="hidden">
                            <input name="year" th:value="${yearNumber}" type="hidden">
                            <input id="monthHomeId" name="monthHomeId" value="" type="hidden">
                            <input name="data" value="" type="hidden">
                            <button th:text="#{pay}" type="submit" class="button mt-4" onclick="pay(this)"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <section th:replace="fragments/notification :: section"></section>
    <nav th:replace="fragments/nav_bar :: nav"></nav>
    <div class="row line">
        <!------------------------CONTENT------------------------>
        <div class="text-center">
            <div th:if="${homesGroup.getHomes().size() == 0}" class="text-center d-flex justify-content-center">
                <h4 th:text="#{no_homes}"></h4>
            </div>
            <th:block th:if="${homesGroup.getHomes().size() > 0}">
                <a th:href="|/cashier/homesGroup${homesGroup.getId()}?month=${now.getMonthValue()}&year=${now.getYear()}|">
                    <h3 th:text="${homesGroup.getName()}" class="m-1 fw-bold"></h3>
                </a>
                <div>
                    <div class="d-inline-flex justify-content-center align-items-center my-2">
                        <div>
                            <a th:href="|/cashier/homesGroup${homesGroup.getId()}/years|">
                                <button th:text="#{years}" class="btn btn-dark years"></button>
                            </a>
                        </div>
                        <a th:href="|/cashier/homesGroup${homesGroup.getId()}/?month=${monthNumber - 1}&year=${yearNumber}|">
                            <img src="/images/back.png" alt="back" class="icon">
                        </a>
                        <form th:action="|/cashier/homesGroup${homesGroup.getId()}|"
                              th:method="GET" onchange="this.submit()">
                            <select name="month" class="m-1 bg-transparent text-center webkit-appearance-none">
                                <option th:each="m, index : ${T(com.home_manager.model.enums.Months).values()}"
                                        th:value="${index.count}"
                                        th:text="${m.getValue()}"
                                        th:selected="${index.count} == ${monthNumber}">
                                </option>
                            </select>

                            <select name="year" class="m-1 bg-transparent text-center webkit-appearance-none">
                                <option th:each="y : ${#numbers.sequence(2010, 2050)}"
                                        th:value="${y}"
                                        th:text="${y}"
                                        th:selected="${y} == ${yearNumber}">
                                </option>
                            </select>
                        </form>
                        <a th:href="|/cashier/homesGroup${homesGroup.getId()}?month=${monthNumber + 1}&year=${yearNumber}|">
                            <img src="/images/forward.png" alt="forward" class="icon">
                        </a>
                    </div>
                </div>
                <div th:if="${currentMonth} == null">
                    <p th:text="|#{current} #{month} #{no_created}|"></p>
                </div>
                <div th:if="${currentMonth == null}" class="add m-2">
                    <form th:action="|/cashier/homesGroup${homesGroupId}/create-month|"
                          th:method="POST">
                        <input th:value="${monthNumber}" type="hidden" name="month">
                        <input th:value="${yearNumber}" type="hidden" name="year">
                        <button type="submit" class="bg-transparent border-0">
                            <img src="/images/add_month.png" alt="add" class="icon m-1">
                            <span th:text="|#{create} #{month}|"></span>
                        </button>
                    </form>
                </div>

                <div th:if="${currentMonth} != null" class="text-center d-flex justify-content-center">
                    <div class="border border-3 border-primary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content">
                        <h3 th:text="|${homesGroup.getName()} #{for} ${monthName} ${yearNumber}|" class="fw-bold"></h3>
                        <table class="table table-hover table-sm table-bordered border-primary">
                            <thead>
                            <tr class="bg-info fw-bold align-middle">
                                <td th:text="#{floor}"></td>
                                <td th:text="#{apartment}"></td>
                                <td th:text="#{owner}"></td>
                                <td th:text="|#{total}(#{BGN})|"></td>
                                <td th:text="#{paid_date}"></td>
                                <td th:text="#{signature}"></td>
                            </tr>
                            </thead>
                            <tbody class="fs-6">
                            <tr th:each="h : ${currentMonth.getHomes()}" class="align-middle">
                                <td th:text="${h.getHome().getFloor()}"></td>
                                <td th:text="${h.getHome().getName()}"></td>
                                <td th:text="|${h.getHome().getOwner().getFirstName()} ${h.getHome().getOwner().getLastName()}|"></td>
                                <td th:text="${h.getTotalPaid()}"></td>
                                <td>
                                    <button th:if="${h.getPaidDate() == null}"
                                            th:text="#{pay}"
                                            th:id="${homesGroup.getId()}"
                                            th:name="${h.getMonth().getId()}"
                                            th:value="${h.getId()}"
                                            class="button py-1" onclick="getPayment(this)"></button>
                                    <button th:if="${h.getPaidDate() != null}"
                                            th:text="${#temporals.format(h.getPaidDate(), 'dd-MM-yyyy')}"
                                            th:id="${homesGroup.getId()}"
                                            th:name="${h.getMonth().getId()}"
                                            th:value="${h.getId()}"
                                            class="button py-0 px-1 m-0" onclick="viewPayments(this)"></button>
                                </td>
                                <td>
                                    <div th:if="${h.getPaidDate() != null}">
                                        <img src="/images/tick.png" alt="tick" class="icon">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bg-info fw-bold align-middle">
                                <td th:text="#{total}" colspan="3"></td>
                                <td th:text="${#numbers.formatDecimal(currentMonth.getCurrentIncome(), 1, 'WHITESPACE', 2, 'POINT')}"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-center justify-content-center">
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content bg-light">
                            <h3 th:text="|#{total} #{for} ${monthName} ${yearNumber}|" class="fw-bold"></h3>
                            <div th:if="${currentMonth.getExpenses().size() == 0} and ${currentMonth.getCurrentIncome() == 0}"
                                 class="text-center d-block justify-content-center">
                                <h4 th:text="|#{no_expenses}/#{incomes}|"></h4>
                            </div>
                            <table th:if="${currentMonth.getExpenses().size() > 0} or ${currentMonth.getCurrentIncome() > 0}"
                                   class="table table-hover table-sm table-bordered border-primary">
                                <tbody class="fs-6">
                                <tr class="align-middle">
                                    <td th:text="#{incomes}"></td>
                                    <td th:text="|${#numbers.formatDecimal(currentMonth.getCurrentIncome(), 1, 'WHITESPACE', 2, 'POINT')}#{BGN}|"></td>
                                </tr>
                                <tr class="align-middle">
                                    <td th:text="#{expenses}"></td>
                                    <td th:text="|${#numbers.formatDecimal(currentMonth.getTotalExpenses(), 1, 'WHITESPACE', 2, 'POINT')}#{BGN}|"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-info fw-bold align-middle">
                                    <td th:text="#{difference}"></td>
                                    <td th:text="(${currentMonth.getCurrentDifference()} > 0 ?
                                '+' + ${#numbers.formatDecimal(currentMonth.getCurrentDifference(), 1, 'WHITESPACE', 2, 'POINT')}
                                : ${#numbers.formatDecimal(currentMonth.getCurrentDifference(), 1, 'WHITESPACE', 2, 'POINT')}) + #{BGN}"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content mt-3">
                            <h3 th:text="#{expenses}" class="fw-bold"></h3>
                            <div th:if="${currentMonth.getExpenses().size() == 0}" class="text-center d-block justify-content-center">
                                <h4 th:text="#{no_expenses}"></h4>
                            </div>
                            <table th:if="${currentMonth.getExpenses().size() > 0}" class="table table-hover table-sm table-bordered border-primary">
                                <thead>
                                <tr class="bg-info fw-bold align-middle">
                                    <td>#</td>
                                    <td th:text="#{creation}"></td>
                                    <td th:text="#{name}"></td>
                                    <td th:text="|#{value}(#{BGN})|"></td>
                                    <td th:text="#{document_number}"></td>
                                    <td th:text="#{date}"></td>
                                </tr>
                                </thead>
                                <tbody class="fs-6">
                                <tr th:each="e,index : ${currentMonth.getExpenses()}" class="align-middle">
                                    <td th:text="${index.count}"></td>
                                    <td th:text="${#temporals.format(e.getAddedOn(), 'dd-MM-yyyy')}"></td>
                                    <td th:text="${e.getName()}"></td>
                                    <td th:text="${#numbers.formatDecimal(e.getValue(), 1, 'WHITESPACE', 2, 'POINT')}"></td>
                                    <td th:text="${e.getDocumentNumber()}"></td>
                                    <td th:text="${#temporals.format(e.getDocumentDate(), 'dd-MM-yyyy')}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-info fw-bold align-middle">
                                    <td th:text="#{total}" colspan="3"></td>
                                    <td th:text="${#numbers.formatDecimal(currentMonth.getTotalExpenses(), 1, 'WHITESPACE', 2, 'POINT')}"></td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content m-3 mx-auto width-fit-content">
                            <form th:action="@{|/cashier/homesGroup${homesGroup.getId()}/add-expense|}"
                                  th:method="POST"
                                  th:object="${addExpenseDTO}" class="d-grid justify-content-center px-2 py-3">
                                <h3 th:text="|#{add} #{expense}|" class="fw-bold"></h3>
                                <input name="month" th:value="${monthNumber}" type="hidden">
                                <input name="year" th:value="${yearNumber}" type="hidden">

                                <div class="d-grid">
                                    <input th:field="*{name}"
                                           th:errorclass="is-invalid"
                                           th:placeholder="#{expense_example_name}" type="text" name="name" class="m-auto"/>
                                    <div th:if="${#fields.hasErrors('name')}" class="notificationRegister">
                                        <p th:each="err : ${#fields.errors('name')}"
                                           th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                                    </div>
                                    <div class="my-3">
                                        <input th:field="*{value}"
                                               th:errorclass="is-invalid"
                                               th:placeholder="#{expense_example_value}" type="number" name="value" min="0" max="999999999" step="0.01"/>
                                    </div>
                                    <div th:if="${#fields.hasErrors('value')}" class="notificationRegister">
                                        <p th:each="err : ${#fields.errors('value')}"
                                           th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                                    </div>
                                    <div class="">
                                        <div class="d-inline-block">
                                            <input th:field="*{documentNumber}"
                                                   th:errorclass="is-invalid"
                                                   th:placeholder="#{expense_example_document_number}" type="text" name="documentNumber"
                                                   class="float-start w-auto"/>
                                            <img id="img" src="/images/calendar.png" alt="calendar" class="icon ms-2" onclick="showCalendar()">
                                            <input th:field="*{documentDate}"
                                                   id="calendar" type="date" th:max="${now.toString()}" name="documentDate" class="calendar">
                                        </div>
                                    </div>
                                    <div th:if="${#fields.hasErrors('documentNumber')}" class="notificationRegister">
                                        <p th:each="err : ${#fields.errors('documentNumber')}"
                                           th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                                    </div>
                                    <div th:if="${#fields.hasErrors('documentDate')}" class="notificationRegister">
                                        <p th:each="err : ${#fields.errors('documentDate')}"
                                           th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                                    </div>
                                </div>
                                <div class="add my-2 width-fit-content m-auto">
                                    <button type="submit" class="bg-transparent border-0">
                                        <img src="/images/add-expense.png" alt="add" class="icon m-1">
                                        <span th:text="|#{add} #{expense}|"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div class="row">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>
<script src="/js/utils.js"></script>
<script src="/js/general.js"></script>
<script src="/js/months.js"></script>
</body>
</html>

