<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{edit}"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <section th:replace="fragments/notification :: section"></section>
        <nav th:replace="/fragments/nav_bar :: nav"></nav>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="registrationForm">
                    <h3 th:text="|#{edit} #{expense}|"></h3>
                    <form th:action="@{|/cashier/homesGroup${homesGroupId}/edit-expense${expenseId}|}"
                          th:method="POST">
                        <div th:text="#{name}" class="mt-3"></div>
                        <input th:value="${expense.getName()}" type="text" name="name" class="field" required/>
                        <div th:text="#{value}" class="mt-3"></div>
                        <input th:value="${expense.getValue()}" type="number" min="0" maxlength="999999999" step="0.01" name="value" class="field" required/>
                        <div th:text="#{document_number}" class="mt-3"></div>
                        <input th:value="${expense.getDocumentNumber()}" type="text" name="documentNumber" class="field" required/>

                        <button th:text="#{edit}" type="submit" class="button m-3"></button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>