<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="${homesGroup.getName()}"></title>
</head>
<body>
<div class="container-fluid">
    <section th:replace="fragments/notification :: section"></section>
    <nav th:replace="/fragments/nav_bar :: nav"></nav>
    <div class="row line">
        <!------------------------CONTENT------------------------>
        <div class="text-center">
            <div th:if="${homesGroup.getHomes().size() == 0}" class="text-center d-flex justify-content-center">
                <h3 th:text="#{no_added_month_year}"></h3>
            </div>
            <th:block th:if="${homesGroup.getHomes().size() > 0}">
                <div th:if="${year} != null" class="text-center d-flex justify-content-center">
                    <div class="border border-3 border-primary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content">
                        <h3 th:text="#{years}"></h3>
                    </div>
                    <div class="border border-3 border-primary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content">
                        <h3 th:text="|${homesGroup.getName()} #{for} ${monthName} ${yearNumber}|"></h3>
                        <table class="table table-hover table-sm table-bordered border-primary">
                            <thead>
                            <tr class="bg-info fw-bold align-middle">
                                <td th:text="#{floor}"></td>
                                <td th:text="#{apartment}"></td>
                                <td th:text="#{owner}"></td>
                                <td th:text="|#{total}(#{currency})|"></td>
                                <td th:text="#{paid_date}"></td>
                                <td th:text="#{signature}"></td>
                            </tr>
                            </thead>
                            <tbody class="fs-6">
                            <tr th:each="h : ${currentMonth.getHomes()}" class="align-middle">
                                <td th:text="${h.getHome().getFloor()}"></td>
                                <td th:text="${h.getHome().getName()}"></td>
                                <td th:text="|${h.getHome().getOwner().getFirstName()} ${h.getHome().getOwner().getLastName()}|"></td>
                                <td th:text="${h.getTotalPaid()}"></td>
                                <td>
                                    <button th:if="${h.getPaidDate() == null}"
                                            th:text="#{pay}"
                                            th:id="${homesGroup.getId()}"
                                            th:name="${h.getMonth().getId()}"
                                            th:value="${h.getId()}"
                                            class="button" onclick="getPayment(this)"></button>
                                    <span th:if="${h.getPaidDate() != null}"
                                          th:text="${#temporals.format(h.getPaidDate(), 'dd-MM-yyyy')}"></span>
                                </td>
                                <td>
                                    <div th:if="${h.getPaidDate() != null}">
                                        <img src="/images/tick.png" alt="tick" class="icon">
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="bg-info fw-bold align-middle">
                                <td th:text="#{total}" colspan="3"></td>
                                <td th:text="${#numbers.formatDecimal(currentMonth.getTotalIncome(), 1, 'WHITESPACE', 2, 'POINT')}"></td>
                                <td></td>
                                <td></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                    <div class="text-center justify-content-center">
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content bg-light">
                            <h3 th:text="|#{total} #{for} ${monthName} ${yearNumber}|"></h3>
                            <div th:if="${currentMonth.getExpenses().size() == 0} and ${currentMonth.getTotalIncome() == 0}" class="text-center d-block justify-content-center">
                                <h3 th:text="|#{no_expenses}/#{incomes}|"></h3>
                            </div>
                            <table th:if="${currentMonth.getExpenses().size() > 0} or ${currentMonth.getTotalExpenses() != 0}" class="table table-hover table-sm table-bordered border-primary">
                                <tbody class="fs-6">
                                <tr class="align-middle">
                                    <td th:text="#{incomes}"></td>
                                    <td th:text="|${#numbers.formatDecimal(currentMonth.getTotalIncome(), 1, 'WHITESPACE', 2, 'POINT')} #{currency}|"></td>
                                </tr>
                                <tr class="align-middle">
                                    <td th:text="#{expenses}"></td>
                                    <td th:text="|${#numbers.formatDecimal(currentMonth.getTotalExpenses(), 1, 'WHITESPACE', 2, 'POINT')} #{currency}|"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-info fw-bold align-middle">
                                    <td th:text="#{difference}"></td>
                                    <td th:text="|${#numbers.formatDecimal(currentMonth.getDifference(), 1, 'WHITESPACE', 2, 'POINT')} #{currency}|"></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content mt-3">
                            <h3 th:text="#{expenses}"></h3>
                            <div th:if="${currentMonth.getExpenses().size() == 0}" class="text-center d-block justify-content-center">
                                <h3 th:text="#{no_expenses}"></h3>
                            </div>
                            <table th:if="${currentMonth.getExpenses().size() > 0}" class="table table-hover table-sm table-bordered border-primary">
                                <thead>
                                <tr class="bg-info fw-bold align-middle">
                                    <td th:text="#{creation}"></td>
                                    <td th:text="#{name}"></td>
                                    <td th:text="|#{value}(#{currency})|"></td>
                                    <td th:text="#{document_number}"></td>
                                </tr>
                                </thead>
                                <tbody class="fs-6">
                                <tr th:each="e : ${currentMonth.getExpenses()}" class="align-middle">
                                    <td th:text="${#temporals.format(e.getAddedOn(), 'dd-MM-yyyy')}"></td>
                                    <td th:text="${e.getName()}"></td>
                                    <td th:text="${e.getValue()}"></td>
                                    <td th:text="${e.getDocumentNumber()}"></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr class="bg-info fw-bold align-middle">
                                    <td th:text="#{total}" colspan="2"></td>
                                    <td th:text="${#numbers.formatDecimal(currentMonth.getTotalExpenses(), 1, 'WHITESPACE', 2, 'POINT')}"></td>
                                    <td></td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="border border-3 border-secondary border-opacity-50 rounded-5 shadow-lg px-4 py-1 mx-1 height-fit-content m-3 mx-auto width-fit-content">
                            <form th:action="@{|/cashier/homesGroup${homesGroup.getId()}/add-expense|}"
                                  th:method="POST"
                                  th:object="${addExpenseDTO}" class="d-grid justify-content-center px-2 py-3">
                                <h3 th:text="|#{add} #{expense}|"></h3>
                                <input name="month" th:value="${monthNumber}" type="hidden">
                                <input name="year" th:value="${yearNumber}" type="hidden">
                                <input th:field="*{name}"
                                       th:errorclass="is-invalid"
                                       th:placeholder="#{expense_example_name}" type="text" name="name" class="mb-3">
                                <span th:if="${#fields.hasErrors('name')}"
                                      th:errors="*{name}" class="notificationRegister bg-danger text-light rounded d-inline-flex p-1 m-1">
                                </span>
                                <input th:field="*{value}"
                                       th:errorclass="is-invalid"
                                       th:placeholder="#{expense_example_value}" type="number" name="value" min="0" max="999999999" step="0.01" class="mb-3">
                                <input th:field="*{documentNumber}"
                                       th:errorclass="is-invalid"
                                       th:placeholder="#{expense_example_document_number}" type="text" name="documentNumber" class="mb-3">
                                <span th:if="${#fields.hasErrors('documentNumber')}"
                                      th:errors="*{documentNumber}" class="notificationRegister bg-danger text-light rounded d-inline-flex p-1 m-1">
                                </span>
                                <div class="add m-2">
                                    <button type="submit" class="bg-transparent border-0">
                                        <img src="/images/add-expense.png" alt="add" class="icon m-1">
                                        <span th:text="|#{add} #{expense}|"></span>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </div>
    <div class="row">
        <footer th:replace="/fragments/footer :: footer"></footer>
    </div>
</div>
<script src="/js/utils.js"></script>
<script src="/js/general.js"></script>
<script src="/js/months.js"></script>
</body>
</html>

