<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home Manager</title>
</head>
<body>
    <footer>
        <div class="bg-light py-2 mt-5 footer">
            <div class="container text-center">
                <p th:text="'&#169;' + |${#dates.format(#dates.createNow(), 'YYYY')} #{home_manager}.  #{all_rights_reserved}|"
                   class="text-muted mb-0 py-2"></p>
            </div>
        </div>
    </footer>
</body>
<script src="/js/utils.js"></script>
</html>