<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home Manager</title>
</head>
<body>
<nav class="text-center">
    <table class="col-12">
        <thead>
        <tr class="row-cols-auto align-middle text-center">
            <th class="col-1 text-start">
                <a sec:authorize="isAnonymous()" href="/">
                    <img src="/images/home-page/logo.png" alt="logo" style="max-height: 80px">
                </a>
                <a sec:authorize="isAuthenticated()" href="/profile">
                    <img src="/images/home-page/logo.png" alt="logo" style="max-height: 80px">
                </a>
            </th>
            <th sec:authorize="hasRole('ADMIN')" class="col-1">
                <a th:text="#{admin}" href="/admin" class="authorize-button"></a>
            </th>
            <th sec:authorize="hasRole('MANAGER')" class="col-1">
                <a th:text="#{manager}" href="/profile" class="authorize-button"></a>
            </th>
            <th sec:authorize="hasRole('CASHIER')" class="col-1">
                <a th:text="#{cashier}" href="/cashier" class="authorize-button"></a>
            </th>
            <th sec:authorize="isAnonymous()" class="col-12">
                <div>
                <form th:action="@{/}" th:method="POST">
                    <label for="username"></label>
                    <input type="text" placeholder="Email" name="username" id="username" class="loginForm">
                    <label for="password"></label>
                    <input type="password" th:placeholder="#{enter_password}" name="password" id="password" class="loginForm">
                    <button th:text="#{login}" type="submit" class="button"></button>
                </form>
                </div>
                <div class="mt-1">
                    <a th:text="#{forgot_password}" href="/forgot-password" class="button" style="font-size: 8pt"></a>
                </div>
            </th>
            <th sec:authorize="isAnonymous()" class="col-1">
                <a th:text="#{registration}" href="/register" class="button"></a>
            </th>
            <th sec:authorize="isAuthenticated()" class="col-1 text-end">
                <a href="/profile/edit" th:text="${#authentication.principal.name}" class="button me-2"></a>
            </th>
            <th sec:authorize="isAuthenticated()" class="col-1 text-start">
                <form th:action="@{/logout}" th:method="POST">
                    <button th:text="#{logout}" type="submit" class="button"></button>
                </form>
            </th>
        </tr>
        </thead>
    </table>
</nav>
</body>
</html>