<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>Home Manager</title>
</head>
<body>
<nav class="justify-content-between d-flex align-items-center">
    <div>
        <a sec:authorize="isAnonymous()" href="/">
            <img src="/images/home-page/logo.png" alt="logo" style="max-height: 80px">
        </a>
        <a sec:authorize="isAuthenticated()" href="/profile">
            <img src="/images/home-page/logo.png" alt="logo" style="max-height: 80px">
        </a>
    </div>
    <div sec:authorize="hasRole('ADMIN')">
        <a th:text="#{admin}" href="/admin" class="authorize-button"></a>
    </div>
    <div sec:authorize="hasRole('MANAGER')">
        <a th:text="#{manager}" href="/profile" class="authorize-button"></a>
    </div>
    <div sec:authorize="hasRole('CASHIER')">
        <a th:text="#{cashier}" href="/cashier" class="authorize-button"></a>
    </div>
    <div sec:authorize="isAnonymous()">
        <a th:text="#{registration}" href="/register" class="button"></a>
    </div>
    <div sec:authorize="isAnonymous()" class="dropdown">
        <button th:text="#{login}" class="button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <div class="dropdown-menu text-center bg-info">
            <div class="p-2">
                <form th:action="@{/}" th:method="POST">
                    <input type="text" placeholder="Email" name="username" id="username" class="loginForm my-3">
                    <input type="password" th:placeholder="#{enter_password}" name="password" id="password" class="loginForm">
                    <div class="mt-3">
                        <input type="checkbox" name="remember-me" id="remember-me" class="width-fit-content">
                        <label th:text="#{remember_me}" for="remember-me"></label>
                        <button th:text="#{login}" type="submit" class="button"></button>
                    </div>
                </form>
            </div>
            <div class="mt-3">
                <a th:text="|#{forgot_password}?|" href="/forgot-password" class="button p-1 mt-2" style="font-size: 8pt"></a>
            </div>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="dropdown">
        <button th:text="${#authentication.principal.name}" class="button dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"></button>
        <div class="dropdown-menu text-center bg-info">
            <a th:text="|#{change} #{name}|" class="dropdown-item" href="/profile/edit-name"></a>
            <a th:text="|#{change} #{password}|" class="dropdown-item" href="/profile/change-password"></a>
        </div>
    </div>
    <div sec:authorize="isAuthenticated()" class="col-1 text-start">
        <form th:action="@{/logout}" th:method="POST">
            <button th:text="#{logout}" type="submit" class="button"></button>
        </form>
    </div>
</nav>
</body>
</html>