<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{error}"></title>
</head>
<body>
<div class="container-fluid">
    <div class="container align-items-center mt-5 pt-5">
        <p class="h1 text-center mt-5">Status code: 404 Not found</p>
        <p class="h4 text-center">The resource you were trying to reach couldn't be found on the server</p>
    </div>
    <div class="col text-center mt-5">
        <a class="button" href="/profile" th:text="#{back}"></a>
    </div>
</div>
</body>
</html>