body {
    background-image: linear-gradient(to top, #8bcbe7 0%, #00e3ae 100%);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 5rem;
    font-family: monospace;
    font-size: x-large;
    justify-content: center;
    align-items: center;
    display: flex;
}

.card-image {
    object-fit: fill;
    max-width: 35%;
    padding: 0;
    position: relative;
    margin: 5px auto auto;
    border: solid black 1px;
    border-radius: 100%;
}

.card {
    background-color: #D4F3EEFF;
    width: 22rem;
    border: solid black 1px;
    border-radius: 10px;

}

.card-body {
    background-color: #D4F3EEFF;
    border-radius: 10px;
}

/* ---------- Buttons styling START ---------- */
.button {
    position: relative;
    background-color: transparent;
    border-radius: 4em;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: black;
    padding: 0.6em 1.4em 0.6em 1.4em;
    cursor: pointer;
    user-select: none;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
}


.button:hover {
    background-color: dodgerblue;
    color: black;
}
/* ---------- Buttons styling END ---------- */

/* ---------- Utilities START---------- */
input {
    width: 18em;
}

.field {
    width: 24em;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    background: transparent;
    border-style: inset;
}

.loginForm {
    border-radius: 4em;
    padding: 0.2em 0.2em 0.2em 0.2em;
}

.line {
    border-style: solid;
    border-width: 2px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    padding-bottom: 0.6em;
}

.notificationLogin {
    position: absolute;
    top: 0.6em;
    left: 2em;
    text-align: center;
    margin: 1em;
    font-size: 9pt;
}

.notificationRegister {
    font-size: 9pt;
    text-align: left;
    max-width: 69%;
}

.registrationForm {
    max-width: 26em;
    border-style: solid;
    border-radius: 0.6em;
    border-width: 0.1em;
    margin-top: 1em;
    text-align: center;
    padding: 1em;
}
/* ---------- Utilities END---------- */







