<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="|#{add} #{home}|"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="registrationForm">
                <h3 th:text="|#{add} #{home} #{for} ${homesGroup.getName()}|"></h3>
                <form th:action="@{|/profile/homesGroup${homesGroup.getId()}/add-home|}"
                      th:method="POST"
                      th:object="${addHomeDTO}">
                    <div class="add-home">
                        <h4 th:text="#{home}"></h4>
                        <div for="floor">
                            <input th:field="*{floor}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="#{floor}" type="text" name="floor" id="floor" class="add-field">
                            <div th:if="${#fields.hasErrors('floor')}" class="notificationRegister">
                                <p th:each="err : ${#fields.errors('floor')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                            </div>
                        </div>
                        <div for="name">
                            <input th:field="*{name}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="|#{name}/#{number}|" type="text" name="name" id="name" class="add-field">
                            <div th:if="${#fields.hasErrors('name')}" class="notificationRegister">
                                <p th:each="err : ${#fields.errors('name')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                            </div>
                        </div>
                    </div>
                    <div class="add-owner">
                        <h4 th:text="#{owner}"></h4>
                        <div for="ownerFirstName">
                            <input th:field="*{ownerFirstName}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="#{first_name}" type="text" name="ownerFirstName" id="ownerFirstName" class="add-field">
                            <div th:if="${#fields.hasErrors('ownerFirstName')}" class="notificationRegister">
                                <p th:each="err : ${#fields.errors('ownerFirstName')}" th:text="${err}"
                                   class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                            </div>
                        </div>
                        <div for="ownerMiddleName">
                            <input th:field="*{ownerMiddleName}"
                                   th:placeholder="#{middles_name}" type="text" name="ownerMiddleName" id="ownerMiddleName" class="add-field">
                        </div>
                        <div for="ownerLastName">
                            <input th:field="*{ownerLastName}"
                                   th:placeholder="#{last_name}" type="text" name="ownerLastName" id="ownerLastName" class="add-field">
                        </div>
                        <div for="ownerEmail">
                            <input th:field="*{ownerEmail}" type="email" placeholder="email" name="ownerEmail" id="ownerEmail" class="add-field">
                        </div>
                        <div for="ownerPhoneNumber">
                            <input th:field="*{ownerPhoneNumber}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="#{phone_number}" type="tel" name="ownerPhoneNumber" id="ownerPhoneNumber" class="add-field">
                        </div>
                        <label th:text="#{resident}" for="resident"></label>
                        <input th:field="*{resident}"
                               type="checkbox" name="resident" id="resident" style="width: 1rem"/>
                    </div>
                    <div th:style="${residentValue} == false ? 'display: block' : 'display: none'" class="add-resident">
                        <h4 th:text="#{resident}"></h4>
                        <div for="residentFirstName">
                            <input th:field="*{residentFirstName}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="#{first_name}" type="text" name="residentFirstName" id="residentFirstName" class="add-field">
                            <div th:if="${#fields.hasErrors('residentFirstName')}" class="notificationRegister">
                                <p th:each="err : ${#fields.errors('residentFirstName')}" th:text="${err}"
                                   class="bg-danger text-light rounded d-inline-flex p-1 m-1"></p>
                            </div>
                        </div>
                        <div for="residentMiddleName">
                            <input th:field="*{residentMiddleName}"
                                   th:placeholder="#{middles_name}" type="text" name="ownerMiddleName" id="residentMiddleName" class="add-field">
                        </div>
                        <div for="residentLastName">
                            <input th:field="*{residentLastName}"
                                   th:placeholder="#{last_name}" type="text" name="residentLastName" id="residentLastName" class="add-field">
                        </div>
                        <div for="residentEmail">
                            <input th:field="*{residentEmail}" type="email" placeholder="email" name="residentEmail" id="residentEmail" class="add-field">
                        </div>
                        <div for="residentPhoneNumber">
                            <input th:field="*{residentPhoneNumber}"
                                   th:errorclass="is-invalid"
                                   th:placeholder="#{phone_number}" type="tel" name="residentPhoneNumber" id="residentPhoneNumber" class="add-field">
                        </div>
                    </div>
                    <button th:text="#{add}" type="submit" class="button m-3"></button>
                </form>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
<script src="/js/add.js"></script>
</body>
</html>