<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{profile}"></title>
</head>
<body>
<div class="container-fluid">
    <section th:replace="fragments/notification :: section"></section>
    <nav th:replace="fragments/nav_bar :: nav"></nav>
    <div class="row line">
        <!------------------------MANAGER------------------------>
        <th:block sec:authorize="hasRole('MANAGER')">
            <div class="text-center">
                <h3 th:if="${user.getCashiers().size() == 0}" th:text="#{no_cashier}"></h3>
                <h3 th:if="${user.getHomesGroup().size() == 0}" th:text="#{no_homes_group}"></h3>
                <th:block th:if="${user.getHomesGroup().size() > 0}">
                    <div class="add m-2">
                        <a href="/profile/register-cashier">
                            <img src="/images/add.png" alt="add" class="icon m-1">
                            <span th:text="|#{register} #{cashier}|"></span>
                        </a>
                    </div>
                    <div class="add m-2">
                        <a href="/profile/assign">
                            <img src="/images/tick.png" alt="add" class="icon m-1">
                            <span th:text="|#{assign} #{homes_group}|"></span>
                        </a>
                    </div>
                    <p th:each="c : ${user.getCashiers()}"
                       th:text="|${c.getName()} - ${c.getHomesGroup().size()} #{number_single} #{homes_group}|"></p>
                </th:block>
            </div>
        </th:block>
        <!------------------------MANAGER------------------------>

        <!------------------------CASHIER------------------------>
        <th:block sec:authorize="hasRole('CASHIER')">
            <div th:each="hg : ${user.getHomesGroup()}" class="text-center">
                <form th:action="|/cashier/homesGroup${hg.getId()}|"
                      th:method="GET">
                    <input th:value="${now.getMonthValue()}" type="hidden" name="month">
                    <input th:value="${now.getYear()}" type="hidden" name="year">
                    <button th:text="${hg.getName()}" type="submit" class="h3"></button>
                </form>
            </div>
        </th:block>
        <!------------------------CASHIER------------------------>
    </div>
    <div class="row">
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>

</body>
<script src="/js/utils.js"></script>
</html>