<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="|#{edit} #{profile}|"></title>

</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <section th:replace="fragments/notification :: section"></section>
        <nav th:replace="/fragments/nav_bar :: nav"></nav>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="d-grid justify-content-center align-items-center mt-4">
                    <h3 th:text="|#{edit} #{profile}|" class="text-center"></h3>
                    <div class="registrationForm mb-3">
                        <h4 th:text="#{name}"></h4>
                        <form th:action="@{/profile/edit-name}"
                              th:method="POST">
                            <label for="name">
                                <input th:value="${user.getName()}" type="text" name="name" id="name" min="2" max="30" class="field mt-3" required>
                            </label>
                            <button th:text="#{change}" type="submit" class="button m-3"></button>
                        </form>
                    </div>
                    <div class="registrationForm mt-5">
                        <h4 th:text="#{password}"></h4>
                        <form th:action="@{/profile/change-password}"
                              th:method="POST"
                              th:object="${registrationDTO}">
                            <label for="password">
                                <input th:field="*{password}"
                                       th:errorclass="is-invalid"
                                       type="password" th:placeholder="#{enter_password}" name="password" id="password" class="field mt-3">
                                <span th:if="${#fields.hasErrors('password')}" class="notificationRegister">
                                    <span th:each="err : ${#fields.errors('password')}" th:text="${err}"
                                       class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                                </span>
                            </label>

                            <label for="confirmPassword">
                                <input th:errorclass="is-invalid"
                                       type="password" th:placeholder="#{confirm_password}"
                                       name="confirmPassword" id="confirmPassword" class="field mt-3">
                                <span th:if="${#fields.hasErrors('confirmPassword')}" class="notificationRegister">
                                    <span th:errors="*{confirmPassword}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                                </span>
                            </label>
                            <button th:text="#{send}" type="submit" class="button m-3"></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>