<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{forgot_password}"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="registrationForm">
                <h3 th:text="#{forgot_password}"></h3>
                <form th:action="@{/forgot-password}" th:method="POST">
                    <label for="email"></label>
                    <input type="text" placeholder="email" name="email" id="email">
                    <button th:text="#{send}" type="submit" class="button"></button>
                </form>
                <h6 class="m-3">
                    <a th:text="#{back}" href="/" class="button">
                    </a>
                </h6>
                <div class="notificationRegister">
                    <p th:text="${foundEmail} ? #{found_email(${email})} : #{email_not_found}"
                       th:class="${foundEmail} ? 'bg-success text-light h6 rounded p-1' : 'bg-danger text-light h6 rounded p-1'"
                       th:style="${show} ? 'display: inline-block' : 'display: none'">

                    <p th:text="${foundEmail} ? #{email_delay}"
                       th:class="${foundEmail} ? 'bg-success text-light h6 rounded p-1'">
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>