<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">

    <title>Home manager Login</title>
</head>
<body>
<main>
    <section class="vh-100">
        <div class="formLogin">
            <div class="title">Login</div>
            <div class="input-container ic1">
                <input id="email" class="input" type="text" placeholder="email" />
                <div class="cut"></div>
                <label for="email" class="placeholder">Email</label>
            </div>
            <div class="input-container ic2">
                <input id="password" class="input" type="password" placeholder="Password" />
                <div class="cut"></div>
                <label for="password" class="placeholder">Password</label>
            </div>
            <button type="submit" class="submit">Login</button>
        </div>
    </section>
</main>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>