<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title>Home manager</title>
</head>
<body>
<main>
    <form th:action="@{/logout}"
          th:method="POST">
        <button type="submit" class="button">Logout</button>
    </form>
    <div class="text-center">
        <h1 th:text="${#authentication.getPrincipal().getFirstName() + ' ' +
        #authentication.getPrincipal().getMiddleName() + ' ' +
        #authentication.getPrincipal().getLastName()}" class="pt-5 mt-5"></h1>
    </div>
</main>
<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/app.js"></script>
</body>
</html>