<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title sec:authorize="isAnonymous()" th:text="#{registration}"></title>
    <title sec:authorize="isAuthenticated()" th:text="|#{register} #{cashier}|"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <th:block sec:authorize="isAuthenticated()">
            <section th:replace="fragments/notification :: section"></section>
            <nav th:replace="fragments/nav_bar :: nav"></nav>
        </th:block>
        <div class="row line">
            <div class="row justify-content-center">
                <div class="registrationForm">
                    <h3 sec:authorize="isAnonymous()" th:text="#{create_account}"></h3>
                    <h3 sec:authorize="isAuthenticated()" th:text="|#{register}  #{cashier}|"></h3>
                    <form sec:authorize="isAnonymous()"
                          th:action="@{/register}"
                          th:method="POST"
                          th:object="${registrationDTO}">

                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               th:placeholder="#{name}" type="text" name="name" class="field mt-3">
                        <span th:if="${#fields.hasErrors('name')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>

                        <input th:field="*{email}"
                               th:errorclass="is-invalid"
                               type="text" placeholder="Email" name="email" class="field mt-3">
                        <span th:if="${#fields.hasErrors('email')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('email')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>

                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               th:placeholder="#{enter_password}" type="password" name="password" class="field mt-3">
                        <span th:if="${#fields.hasErrors('password')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('password')}" th:text="${err}"
                                  class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>


                        <input th:errorclass="is-invalid"
                               th:placeholder="#{confirm_password}" type="password" name="confirmPassword" class="field mt-3">
                        <span th:if="${#fields.hasErrors('confirmPassword')}" class="notificationRegister">
                            <span th:errors="*{confirmPassword}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>
                        <span class="d-block">
                            <button th:text="#{registration}" type="submit" class="button m-3"></button>
                        </span>
                        <h6 class="m-3">
                            <th:block th:text="#{already_registered}"></th:block>
                            <a th:text="#{login}" href="/" class="button"></a>
                        </h6>
                    </form>
                    <form sec:authorize="isAuthenticated()"
                          th:action="@{/profile/register-cashier}"
                          th:method="POST"
                          th:object="${registrationDTO}">

                        <input th:field="*{name}"
                               th:errorclass="is-invalid"
                               th:placeholder="#{name}" type="text" name="name" class="field mt-3">
                        <span th:if="${#fields.hasErrors('name')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('name')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>

                        <input th:field="*{email}"
                               th:errorclass="is-invalid"
                               type="text" placeholder="Email" name="email" class="field mt-3">
                        <span th:if="${#fields.hasErrors('email')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('email')}" th:text="${err}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>

                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               th:placeholder="#{enter_password}" type="password" name="password" class="field mt-3">
                        <span th:if="${#fields.hasErrors('password')}" class="notificationRegister">
                            <span th:each="err : ${#fields.errors('password')}" th:text="${err}"
                                  class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>

                        <input th:errorclass="is-invalid"
                               th:placeholder="#{confirm_password}"
                               type="password" name="confirmPassword" class="field mt-3">
                        <span th:if="${#fields.hasErrors('confirmPassword')}" class="notificationRegister">
                            <span th:errors="*{confirmPassword}" class="bg-danger text-light rounded d-inline-flex p-1 m-1"></span>
                        </span>
                        <span class="d-block">
                            <button th:text="#{registration}" type="submit" class="button m-3"></button>
                        </span>
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <footer th:replace="fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>