<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.css">
    <link rel="stylesheet" href="/css/bootstrap.rtl.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <title>Home manager Register</title>
</head>
<body>

<main>
    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card bg-transparent border-0">
                            <div class="card-body p-1">
                                <div class="h3 text-uppercase text-center mb-3 mt-5">Create Account</div>
                                <form th:action="@{/register}"
                                      th:method="POST"
                                      th:object="${registrationDTO}">

                                    <div class="form-outline mb-4">
                                        <input th:field="*{firstName}"
                                               th:errorclass="is-invalid"
                                               type="text" placeholder="First name" name="firstName" id="firstName"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('firstName')}"
                                               th:errors="*{firstName}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input th:field="*{middleName}"
                                               th:errorclass="is-invalid"
                                               type="text" placeholder="Middle name" name="middleName" id="middleName"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('middleName')}"
                                               th:errors="*{middleName}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input th:field="*{lastName}"
                                               th:errorclass="is-invalid"
                                               type="text" placeholder="Last name" name="lastName" id="lastName"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('lastName')}"
                                               th:errors="*{lastName}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input th:field="*{email}"
                                               th:errorclass="is-invalid"
                                               type="text" placeholder="Email" name="email" id="email"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('email')}"
                                               th:errors="*{email}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input th:field="*{password}"
                                               th:errorclass="is-invalid"
                                               type="password" placeholder="Password" name="password" id="password"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('password')}"
                                               th:errors="*{password}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>

                                    <div class="form-outline mb-4">
                                        <input th:errorclass="is-invalid"
                                               type="password" placeholder="Confirm password"
                                               name="confirmPassword" id="confirmPassword"
                                               class="form-control form-control-lg">
                                        <small th:if="${#fields.hasErrors('confirmPassword')}"
                                               th:errors="*{confirmPassword}"
                                               class="invalid-feedback bg-danger text-light text-left rounded ml-3 p-1"></small>
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="submit"
                                                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script src="/js/bootstrap.bundle.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>