<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <title th:text="#{reset_password}"></title>
</head>
<body>
<main class="w-100">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="registrationForm">
                <h3 th:text="#{new_password}"></h3>
                <form th:action="@{/reset-password}"
                      th:method="POST"
                      th:object="${passwordResetDTO}">
                    <input type="hidden" name="token" th:value="${token}">

                    <label for="password">
                        <input th:field="*{password}"
                               th:errorclass="is-invalid"
                               type="password" th:placeholder="#{enter_password}" name="password" id="password" class="field">
                        <div th:if="${#fields.hasErrors('password')}" class="notificationRegister">
                            <p th:each="err : ${#fields.errors('password')}" th:text="${err}" class="bg-danger text-light rounded m-1"></p>
                        </div>
                    </label>


                    <label for="confirmPassword">
                        <input th:errorclass="is-invalid"
                               type="password" th:placeholder="#{confirm_password}"
                               name="confirmPassword" id="confirmPassword" class="field">
                        <div th:if="${#fields.hasErrors('confirmPassword')}" class="notificationRegister">
                            <p th:errors="*{confirmPassword}" class="bg-danger text-light rounded m-1"></p>
                        </div>
                    </label>

                    <button th:text="#{submit}" type="submit" class="button m-3"></button>
                </form>
            </div>
        </div>
        <div class="row">
            <footer th:replace="/fragments/footer :: footer"></footer>
        </div>
    </div>
</main>
</body>
</html>