<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div style="text-align: center;
            font-family: Verdana, serif;">
    <a th:href="${app_url}">
        <img src="cid:logo" width="200" height="200" alt="logo"/>
    </a>
    <h1 th:text="#{forgot_password}" style="color: green;"></h1>
    <div>
        <div style="text-align: justify;
                    width: 85%;
                    margin: 5% 5% 1% 5%;
                    border-style: outset;
                    border-width: 2px;
                    padding: 25px;">
            <p th:text="#{hello}"></p>
            <p th:text="#{forgot_password_message(${email})}"></p>
            <div style="margin: 30px 0 30px 10px;">
                <a th:href="${reset_url}" th:text="#{new_password}" style="background-color: dodgerblue;
                                                            border-radius: 4em;
                                                            border-color: black;
                                                            border-style: solid;
                                                            border-width: 1px;
                                                            font-family: Verdana, Geneva, Tahoma, sans-serif;
                                                            font-size: 14px;
                                                            font-weight: bold;
                                                            color: black;
                                                            padding: 0.6em 1.4em 0.6em 1.4em;
                                                            cursor: pointer;
                                                            user-select: none;
                                                            text-align: center;
                                                            text-decoration: none;
                                                            vertical-align: middle;"></a>
            </div>
            <a th:href="${reset_url}" th:text="${reset_url}"></a>
            <br>
            <br>
            <p th:text="#{forgot_password_ignore}"></p>
            <p th:text="#{forgot_password_timeout}"></p>
        </div>
        <footer th:replace="fragments/footer :: footer"></footer>
    </div>
</div>
</body>
</html>